{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="row bg-light p-5 text-center">

    <div class="col-md-12">
        <h2>Project Overview</h2>
        <p>
            This dataset explains how the darkweb marketplace affects the US economy. 
            <br>
            The interactive map was made with Leaflet, and the charts were made with Plotly!
        </p>
     </div>

</div>

<div class="row bg-light p-5 text-center">

    <h2>Meet the Team</h2>
    <p>Here are the people who contributed to this project</p>
    
    <div class="col-md-3">
        <h5>Cassidy Bell</h5>
        <p>GitHub:<br> <a href="https://github.com/cvbell624" target="_blank">https://github.com/cvbell624</a></p>
    </div>

    <div class="col-md-3">
        <h5>Asia Byrne</h5>
        <p>GitHub:<br> <a href="https://github.com/Asiabyr95" target="_blank">https://github.com/Asiabyr95</a></p>
    </div>

    <div class="col-md-3">
        <h5>Aaron Suarez</h5>
        <p>GitHub:<br> <a href="https://github.com/Apeterson07" target="_blank">https://github.com/Apeterson07</a></p>
    </div>

    <div class="col-md-3">
        <h5>William Berry</h5>
        <p>GitHub:<br> <a href="https://github.com/wcberry3" target="_blank">https://github.com/wcberry3</a></p>
    </div>

    <div class="col-md-3">
        <h5>Shahla Shahnawaz</h5>
        <p>GitHub:<br> <a href="https://github.com/" target="_blank">https://github.com/</a></p>
    </div>

</div>
{% endblock %}