<!DOCTYPE html>
<html lang="en">

    <head>
        
        <!-- boilerplate -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- content -->
        <title>US Tornado Dataset</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">

        <!-- scripts -->
        <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script> <!-- includes Popper.js -->

    </head>

    <body>

        <!-- Header Section -->
    <div class="container-fluid bg-dark text-white text-center py-4">
        <h1>Tornadoes In US (1950-2021)</h1>
        <p>Use the interactive charts below to explore the dataset</p>
        <a href="https://www.kaggle.com/datasets/danbraswell/us-tornado-dataset-1950-2021" target="_blank">Click here for link to study</a>
    </div>

    <!-- navbar section -->
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a href="/" class="nav-link active">Home</a>
              </li>
              <li class="nav-item">
                  <a href="/dashboard1" class="nav-link">Tornado Trends</a>
              </li>
              <li class="nav-item">
                  <a href="/dashboard2" class="nav-link">Tornado Metrics</a>
              </li>
              <li class="nav-item">
                  <a href="/map" class="nav-link">Map</a>
              </li>
              <li class="nav-item">
                  <a href="/about-us" class="nav-link">About Us</a>
              </li>
              <li class="nav-item">
                  <a href="/work-cited" class="nav-link">Works Cited</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <!-- content section -->
    <div class="container mt-4">

        <h2>    ?    </h2>
            <p> ??

            <div class="row">

                <div class="col-md-6">
                    <img src="   ?    " class="img-fluid" alt="  " />
                </div>

                <div class="col-md-6">
                    <img src="    ?   " class="img-fluid" alt="Enhanced Fujita Scale" />
                </div>

            </div>

            <p>For more information on the history of tornadoes, visit the following reference: 
            <p>Click here for more information on the Enhanced Fujita Scale: 

        </div>

    </body>

</html>